#mynav{
    background-color: #5D6D7E;
    color: white;
}

li {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}


ul {
    padding: 0px;
}

.mycards {
    height: 300px;
    margin-top: 20px;
}

#vertnav{
    height: 92vh;
}