#mynav{
    background-color: #212F3D;
    color: white;
}

li {
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    padding: 0px;
}

@media screen and (max-width: 3440px) {
    .mycards {
        height: 570px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 2560px) {
    .mycards {
        height: 500px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1920px){
    .mycards {
        height: 350px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1920px){
    .mycards {
        height: 350px;
        margin-top: 20px;
    }
}


#vertnav{
    height: 92vh;
    background-color: #212F3D;
}

#background-for-working-zone {
    background-image: url("../img/backgroundCompressed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;

}

.mybugtable {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}