<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">



</head>
<body>

<!--navbar-->
<div class="row" id="mynav">
    <div class="col-12 py-2">
        <div class="ml-3" style="font-size: 1.3rem">Smaug</div>
    </div>
</div>

<div class="row">

    <!--left-vertical navbar-->
    <div class="col-1 pl-0" id="vertnav">
        <ul style="list-style: none;">

            <a th:href="@{~/dashboard/main}">
            <button class="btn btn-outline-light w-100" type="button">
                <li class="text-center mt-3">
                    <i class="fas fa-2x fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </li>
            </button>
            </a>

            <a th:href="@{~/mybugs/main}">
            <button class="btn btn-outline-light w-100" type="button">
                <li class="text-center mt-3">
                    <i class="fas fa-2x fa-bug"></i>
                    <p>My Bugs</p>
                </li>
            </button>
            </a>

            <a th:href="@{~/myprojects/main}">
            <button class="btn btn-outline-light w-100" type="button">
                <li class="text-center mt-3">
                    <i class="fas fa-2x fa-tasks"></i>
                    <p>My Projects</p>
                </li>
            </button>
            </a>

            <a th:href="@{~/manageroles/main}">
            <button class="btn btn-outline-light w-100" type="button">
                <li class="text-center mt-3">
                    <i class="fas fa-2x fa-user-tag"></i>
                    <p>Manage Roles</p>
                </li>
            </button>
            </a>



        </ul>
    </div>

    <!--Main area-->
    <div class="col-11" id="background-for-working-zone">

        <div class="row w-100 justify-content-around mt-4">

            <!--Card 1-->
            <div class="col-sm-4">
                <div class="card mycards">
                    <div class="card-header" style="text-align: center; background-color: #AEB6BF;">
                        Bugs Due
                    </div>
                    <div class="card-body">
                        <canvas id="chDonut3"></canvas>
                    </div>
                </div>
            </div>

            <!--Card 2-->
            <div class="col-sm-4">
                <div class="card mycards">
                    <div class="card-header" style="text-align: center; background-color: #AEB6BF;">
                        Bug Severity
                    </div>
                    <div class="card-body">
                        <canvas id="chDonut1"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100 justify-content-around mt-4">

            <!--Card 3-->
            <div class="col-sm-4">
                <div class="card mycards">
                    <div class="card-header" style="text-align: center; background-color: #AEB6BF;">
                        Bug Priority
                    </div>
                    <div class="card-body">
                        <canvas id="chDonut2"></canvas>
                    </div>
                </div>
            </div>

            <!--Card 4-->
            <div class="col-sm-4">
                <div class="card mycards">
                    <div class="card-header" style="text-align: center; background-color: #AEB6BF;">
                        Bugs By Project
                    </div>
                    <div class="card-body">
                        <canvas id="chDonut4"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>



<!-- WARNING TO FUTURE SELF: the chart labels defined in the chart data variables below is a bit brittle,
if I want to access a string that was saved in the Model then the way to do it would be
to go directly to the label listing and add: '[[${labelExampleName}]]'. For some reason
if I define a variable x = [[${labelExampleName}]] and then pass either x or 'x' it won't work and
the chart will not be displayed -->

<!--Card 1 Chart-->
<script>
    var userBugsDue = [[${userBugsDue}]];
    var userBugsNotDue = [[${userBugsNotDue}]];

    // chart colors
    var colors = ['#E74C3C','#2ECC71'];

    /* 3 donut charts */
    var donutOptions3 = {
        cutoutPercentage: 55,
        legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
    };

    // donut 3
    var chDonutData3 = {
        labels: ['Due', 'Not Due'],
        datasets: [
            {
                backgroundColor: colors,
                borderWidth: 2,
                data: [userBugsDue, userBugsNotDue]
            }
        ]
    };

    var chDonut3 = document.getElementById("chDonut3");
    if (chDonut3) {
        new Chart(chDonut3, {
            type: 'pie',
            data: chDonutData3,
            options: donutOptions3
        });
    }
</script>


<!--Card2 Chart-->
<script>

    var critical = [[${userCriticalBugCount}]];
    var major = [[${userMajorBugCount}]];
    var minor = [[${userMinorBugCount}]];
    var low = [[${userLowBugCount}]];

    // chart colors
    var colors = ['#E74C3C','#F1C40F','#2ECC71','#2C3E50'];

    /* 3 donut charts */
    var donutOptions = {
    cutoutPercentage: 55,
    legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
    };

    // donut 1
    var chDonutData1 = {
    labels: ['Critical', 'Major', 'Minor', 'Low'],
    datasets: [
    {
    backgroundColor: colors.slice(0,4),
    borderWidth: 2,
    data: [critical, major, minor, low]
    }
    ]
    };

    var chDonut1 = document.getElementById("chDonut1");
    if (chDonut1) {
    new Chart(chDonut1, {
    type: 'pie',
    data: chDonutData1,
    options: donutOptions
    });
    }
</script>



<!--Card3 Chart-->
<script>
    var highPriority = [[${userHighPriority}]];
    var mediumPriority = [[${userMediumPriority}]];
    var lowPriority = [[${userLowPriority}]];

    // chart colors
    var colors = ['#E74C3C','#F1C40F','#2ECC71','#2C3E50'];

    /* 3 donut charts */
    var donutOptions2 = {
        cutoutPercentage: 55,
        legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
    };

    // donut 1
    var chDonutData2 = {
        labels: ['High', 'Medium', 'Low'],
        datasets: [
            {
                backgroundColor: colors.slice(0,3),
                borderWidth: 2,
                data: [highPriority, mediumPriority, lowPriority]
            }
        ]
    };

    var chDonut2 = document.getElementById("chDonut2");
    if (chDonut2) {
        new Chart(chDonut2, {
            type: 'pie',
            data: chDonutData2,
            options: donutOptions2
        });
    }
</script>


<!--Card4 Chart-->
<script>


    // chart colors
    var colors = ['#E74C3C','#F1C40F','#2ECC71','#2C3E50', '#9B59B6'];

    /* 3 donut charts */
    var donutOptions4 = {
        cutoutPercentage: 55,
        legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}}
    };

    // donut 1
    var chDonutData4 = {
        labels: ['[[${project1Name}]]', '[[${project2Name}]]', '[[${project3Name}]]', '[[${project4Name}]]', '[[${project5Name}]]'],
        datasets: [
            {
                backgroundColor: colors.slice(0,5),
                borderWidth: 2,
                data: [ [[${project1Bugs}]], [[${project2Bugs}]], [[${project3Bugs}]], [[${project4Bugs}]], [[${project5Bugs}]]]
            }
        ]
    };

    var chDonut4 = document.getElementById("chDonut4");
    if (chDonut4) {
        new Chart(chDonut4, {
            type: 'pie',
            data: chDonutData4,
            options: donutOptions4
        });
    }
</script>



</html>