<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8">
    <title>My Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mybugs.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">



</head>
<body>

<!--navbar-->
<div class="row" id="mynav">
    <div class="col-12 py-2">
        <div class="ml-3" style="font-size: 1.3rem">Smaug</div>
    </div>
</div>

<div class="row">

    <!--left-vertical navbar-->
    <div class="col-1 pl-0" id="vertnav">
        <ul style="list-style: none;">

            <a th:href="@{~/dashboard/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/mybugs/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-bug"></i>
                        <p>My Bugs</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/myprojects/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-tasks"></i>
                        <p>My Projects</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/manageroles/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-user-tag"></i>
                        <p>Manage Roles</p>
                    </li>
                </button>
            </a>



        </ul>
    </div>

    <!--Main area-->
    <div class="col-11" id="background-for-working-zone">

        <div class="row w-100 justify-content-around mt-4">


            <div class="container px-0">

                <div class="w-100">
                    <p class="text-center w-100 pagetitle font-weight-bold">MY PROJECTS:</p>
                </div>

                <!------------------------>
                <!-- Add Project button -->
                <!------------------------>
                <a th:href="@{~/myprojects/newproject}">
                    <button type="button" class="btn btn-success">Add Project</button>
                </a>




            <table class="table table-striped table-bordered table-hover myprojecttable px-0 mt-3">
                <thead class="thead-dark">
                <tr>
                    <th th:text="'Project Name'"/>
                    <th th:text="'Description'"/>
                </tr>
                </thead>

                <tbody>
                <tr th:each="project, iStat : ${projectPage.content}"
                    th:style="${iStat.odd}? 'font-weight: bold;'"
                    th:alt-title="${iStat.even}? '' : ''"
                    th:projectId="${project.projectId}"
                    th:onclick="rowClicked(this.getAttribute('projectId'));">
                    <!-- the th:onclick calls the javascript function rowClicked defined later below
                    it is done to get the specific bugId per iteration, and pass it to the controller
                    which in turn takes the Id, requests the bug again based on the ID, adds the bug
                    to a model and redirects the user to the page where the specific bug INFO will be
                    shown-->


                    <td th:text="${project.projectName}"/>
                    <td th:text="${project.projectDescription}"/>

                </tr>
                </tbody>
            </table>

                <div class="container page">

            <div th:if="${projectPage.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{~/myprojects/main(size=${projectPage.size}, page=${pageNumber})}"
                   th:text="'| ' + ${pageNumber} + ' |'"
                   th:class="${pageNumber==projectPage.number + 1} ? active"></a>
            </div>

                </div>

            </div>








        </div>
    </div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<!--  El "value" que recibe rowClicked es el value de th:bugId definido antes-->
<script>
    function rowClicked(value){
        location.href = "/myprojects/showProjectDetail?projectId=" + value;
    }
</script>


</html>