<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8">
    <title>Bug details</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/mybugs.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


</head>
<body>

<!--navbar-->
<div class="row" id="mynav">
    <div class="col-12 py-2">
        <div class="ml-3" style="font-size: 1.3rem">Smaug</div>
    </div>
</div>

<div class="row">

    <!--left-vertical navbar-->
    <div class="col-1 pl-0" id="vertnav">
        <ul style="list-style: none;">

            <a th:href="@{~/dashboard/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/mybugs/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-bug"></i>
                        <p>My Bugs</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/myprojects/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-tasks"></i>
                        <p>My Projects</p>
                    </li>
                </button>
            </a>

            <a th:href="@{~/manageroles/main}">
                <button class="btn btn-outline-light w-100" type="button">
                    <li class="text-center mt-3">
                        <i class="fas fa-2x fa-user-tag"></i>
                        <p>Manage Roles</p>
                    </li>
                </button>
            </a>



        </ul>
    </div>

    <!--Main area-->
    <div class="col-11" id="background-for-working-zone">


        <form th:action="@{~/mybugs/updateBug}" th:object="${theBug}" method="post">

            <hr>

            <div class="row w-100 mt-4 ml-4">



                <span>

                <button class="btn btn-success mr-3" type="submit" id="updateBugButton" hidden >Update bug</button>

                <!----------------------->
                <!-- Edit button -->
                <!----------------------->

                <button type="button" class="btn btn-warning mr-3" id="editButton">Edit bug</button>




                <!----------------------->
                <!-- Delete bug button -->
                <!----------------------->



                    <a th:href="@{~/mybugs/deletebug(bugId = ${theBug.bugId})}">
                        <button type="button" class="btn btn-danger" id="deleteButton">Delete bug</button>
                    </a>

                    </span>


            </div>

            <hr>

            <!--First Row: name, id, project, severity, priority-->

                <div class="row w-100 justify-content-around mt-3">
                    <div class="form-group">
                        <label for="bugtitle">Bug Title:</label>
                        <input class="form-control" type="text" id="bugtitle" readonly th:field="${theBug.bugTitle}" maxlength="50" required>
                    </div>

                    <!--hidden param for original title-->
                    <div hidden>
                        <input type="text" th:name="bugOriginalTitle" th:value="${theBug.bugTitle}">
                    </div>

                    <div class="form-group">
                        <label for="bugId">Bug Id:</label>
                        <input class="form-control" type="text" id="bugId" readonly th:field="${theBug.bugId}">
                    </div>

                    <!--<div class="form-group">
                        <label for="bugproject">Project:</label>
                        <input class="form-control" type="text" id="bugproject" readonly th:field="${theBug.projectId}">
                    </div>-->

                    <div class="form-group">
                        <label for="bugproject">Project:</label>
                        <select class="form-control" id="bugproject" disabled th:field="${theBug.projectId}">
                            <option th:each="proj : ${projectList}" th:value="${proj.projectId}" th:text="${proj.projectName}"></option>
                        </select>
                    </div>

                    <!--hidden param for original project-->
                    <div hidden>
                        <input type="text" th:name="bugOriginalProjectId" th:value="${theBug.projectId}">
                    </div>



                    <div class="form-group">
                        <label for="bugSeverity">Severity:</label>
                        <select class="form-control" id="bugSeverity" disabled th:field="${theBug.bugSeverity}">
                            <option th:value="CRITICAL">Critical</option>
                            <option th:value="MAJOR">Major</option>
                            <option th:value="MINOR">Minor</option>
                            <option th:value="LOW">Low</option>
                        </select>
                    </div>

                    <!--hidden param for original severity-->
                    <div hidden>
                        <input type="text" th:name="bugOriginalSeverity" th:value="${theBug.bugSeverity}">
                    </div>




            <div class="form-group">
                <label for="bugPriority">Priority:</label>
                <select class="form-control" id="bugPriority" disabled th:field="${theBug.bugPriority}">
                    <option th:value="HIGH">High</option>
                    <option th:value="MEDIUM">Medium</option>
                    <option th:value="LOW">Low</option>
                </select>
            </div>

                    <!--hidden param for original Priority-->
                    <div hidden>
                        <input type="text" th:name="bugOriginalPriority" th:value="${theBug.bugPriority}">
                    </div>


                </div>

            <!--Second Row: createdby, responsible-dev, due date, date created-->
            <div class="row w-100 justify-content-around mt-3">
                <div class="form-group">
                    <label for="bugCreatedBy">Created by:</label>
                    <input class="form-control" type="text" id="bugCreatedBy" readonly th:field="${theBug.bugCreatedBy}">
                </div>



                <div class="form-group">
                    <label for="bugStatus">Status:</label>
                    <select class="form-control" id="bugStatus" disabled th:field="${theBug.bugStatus}">
                        <option th:value="0">In progress</option>
                        <option th:value="1">Fixed</option>
                    </select>
                </div>

                <!--hidden param for original Status-->
                <div hidden>
                    <input type="text" th:name="bugOriginalStatus" th:value="${theBug.bugStatus}">
                </div>




                <div class="form-group">
                    <label for="bugResponsibleDev">Assigned to:</label>
                    <select class="form-control" id="bugResponsibleDev" disabled th:field="${theBug.bugResponsibleDev}">
                        <option th:each="dev : ${devList}" th:value="${dev}" th:text="${dev}"></option>
                    </select>
                </div>

                <!--hidden param for original Assigned To-->
                <div hidden>
                    <input type="text" th:name="bugOriginalResponsibleDev" th:value="${theBug.bugResponsibleDev}">
                </div>


                <div class="form-group">
                    <label for="bugDueDate">Due date:</label>
                  <!--  <input class="form-control" type="text" id="bugDueDate" readonly th:field="${theBug.bugDueDate}">-->
                    <input class="form-control" type="date" id="bugDueDate"
                           value="2021-09-10"
                           min="2018-01-01" max="2030-12-31" th:field="${theBug.bugDueDate}" readonly required>
                </div>

                <!--hidden param for original Due date-->
                <div hidden>
                    <input type="text" th:name="bugOriginalDueDate" th:value="${theBug.bugDueDate}">
                </div>


                <div class="form-group">
                    <label for="bugCreated">Date created:</label>
                    <input class="form-control" type="text" id="bugCreated" readonly th:field="${theBug.dateCreated}">
                </div>

            </div>
            <!--Third Row: description and steps to reproduce-->
            <div class="row w-100 justify-content-around mt-3">


                <div class="form-group">
                    <label for="bugDescription">Description:</label>
                    <textarea class="form-control" id="bugDescription" readonly th:field="${theBug.bugDescription}" th:rows="5" cols="93" maxlength="450"></textarea>
                </div>

                <!--hidden param for original description-->
                <div hidden>
                    <input type="text" th:name="bugOriginalDescription" th:value="${theBug.bugDescription}">
                </div>

                <div class="form-group">
                    <label for="bugStepsToReproduce">Steps to Reproduce:</label>
                    <textarea class="form-control" id="bugStepsToReproduce" readonly th:field="${theBug.stepsToReproduce}" th:rows="5" cols="93" maxlength="900"></textarea>
                </div>

                <!--hidden param for original steps to reproduce-->
                <div hidden>
                    <input type="text" th:name="bugOriginalStepsToReproduce" th:value="${theBug.stepsToReproduce}">
                </div>


            </div>


        </form>

        <hr>



        <div class="container">
        <h3>Bug Transaction history:</h3>

            <div class="row w-100 justify-content-around mt-4">
                <table class="table table-striped table-bordered table-hover mybugtable table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th th:text="'Date'"/>
                        <th th:text="'Update'"/>
                        <th th:text="'Developer'"/>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="transaction, iStat : ${bugTransactions}"
                        th:style="${iStat.odd}? 'font-weight: bold;'"
                        th:alt-title="${iStat.even}? 'even' : 'odd'">


                        <td th:text="${ transaction.date }"/>
                        <td th:text="${ transaction.transaction }"/>
                        <td th:text="${ transaction.transactionCreatedBy }"/>
                    </tr>
                    </tbody>
                </table>
            </div>

        <div class="row w-100 justify-content-around mt-0">
            <div class="container page">

                    <div th:if="${bugTransactions.totalPages > 0}" class="pagination"
                         th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{~/mybugs/showBugDetail(size=${bugTransactions.size}, page=${pageNumber}, bugId= ${theBug.bugId})}"
                           th:text="'| ' + ${pageNumber} + ' |'"
                           th:class="${pageNumber==bugTransactions.number + 1} ? active"></a>
                    </div>
            </div>
        </div>


    </div>

</div>


<script>
    document.getElementById('editButton').onclick = function (){
        document.getElementById('bugtitle').readOnly = false;
        document.getElementById('bugproject').disabled = false;
        document.getElementById('bugSeverity').disabled = false;
        document.getElementById('bugPriority').disabled = false;
        document.getElementById('bugStatus').disabled = false;
        document.getElementById('bugResponsibleDev').disabled = false;
        document.getElementById('bugDueDate').readOnly = false;
        document.getElementById('bugDescription').readOnly = false;
        document.getElementById('bugStepsToReproduce').readOnly = false;
        document.getElementById('updateBugButton').hidden = false;
        document.getElementById('editButton').hidden = true;


    };
</script>



</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


</html>